---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Navigation from '../../components/Navigation';
import Breadcrumbs from '../../components/Breadcrumbs.astro';
import BlogPage from '../../page-components/Blog.tsx';
---

<BaseLayout 
  title="Blog | Make Good Melbourne"
  description="Expert insights on commercial property restoration, end of lease requirements and make good best practices from Melbourne's trusted specialists."
  canonicalUrl="https://makegood.melbourne/blog"
>
  <Navigation client:load />
  <div class="bg-secondary pt-20">
    <Breadcrumbs path="/blog" />
  </div>
  <BlogPage client:idle />
</BaseLayout>
